/* Color variables */
$main-color: #001E61;
$gray-text-color: #505050;
$dark-gray-text-color: #383838;
$home-gradient-bg-color: linear-gradient(180deg, rgba(2, 21, 63, 0.7) 42.76%, rgba(5, 55, 165, 0) 97.78%);
$transparent-white-color: #FFFFFF26;
$transparent-white-color-opc-10: #f4f6f811;
$second-transparent-white-color: #F4F6F81A;
$star-orange-color: #FF7426;
$horizontal-gradient-main-color: linear-gradient(94.68deg, #001E61 3.63%, #001C5A 27.99%, #000F31 176.88%);
$sky-blue-color: #F1F3F6;
$sky-blue-gradient-color: linear-gradient(109.28deg, rgba(39, 75, 124, 0.01) -89.17%, rgba(244, 246, 248, 0.5) 50.02%);
$transparent-main-color: #001E6126;
$card-gradient-color: linear-gradient(180deg, 12px 40.73%, rgba(0, 30, 97, 0.8) 100%);
$cool-blue-color: #1F57A2;
$black-color-opc-90: #000000CC;
$vertical-sky-blue-gradient-color: linear-gradient(179.48deg, rgb(85 162 216 / 0%) -46.35%, rgb(85 162 216 / 3%) 101.35%);



